/* .container-artists {
    display: flex;
    flex-direction: row;
  }
  .container-albums{
    display: flex;
    flex-direction: row;
  } */

.container-artists{

  display: flex;  
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 60px;
  margin-left:11%;
  
}
.container-tracks{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 3px 0px 3px 0px;
  margin-bottom: 3.5%;
  margin-left:10%;
}
.albums-tracks-artists-link{
  margin-left:10%;
}
.container-all{
  padding-top:3%;
  width: 100%;
  background-color: #121212;
  display:flex;
  flex-direction: column;
  
}
.container-albums {
  display: flex;  
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 60px;
  margin-left:11%;
}
/*PAGE ARTISTS-------------------------------------------------------------------------------------------------*/