/*CSS DO MUSIC CARD---------------------------------------------*/
.image-music{
    height:50px;
}

.info-music{
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.music {
    color: #fff;
    padding: 12px;
    width: 98,5%;
    display: flex;
    flex-direction: row;
    background-color: #121212;
    margin:0px 10px 0px 10px;
    border-radius:7px

}
.music h4{
    margin:0px;
    padding: 0px;
}
.music > p {
    margin: 0;
    padding:0
}
.music:hover {
    background-color: #2A2A2A;
    border-radius: 7px;
}

/*CSS DO ARTIST -> TITLE <- ----------------------------------*/
.artist-title-link{
    font-size: 13px;
}

/*CSS DO ARTIST CARD-------------------------------------------*/


.artist img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    align-self: center;
    margin: 10px 15px 0px 15px;
    box-shadow: rgba(19, 16, 16, 0.9)
}
.artist:hover{
    background-color: #282828;
    border-radius: 7px;
}
.artist{
    background-color: #181818;
    width:180px;
    height: 260px;
    border-radius: 7px;
    margin:10px
}
.artist-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:150px; 
    margin-left: 15px;
}
/*CSS DO ALBUM CARD--------------------------------------------------*/

.container-albums {

    padding: 10px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.album {
 
    padding: 20px;
    margin: 10px 0;
    max-width: 200px;
    box-sizing: border-box;
    object-fit: cover;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 10%;
    
}

.album img {
    object-fit: cover;
    align-self: center;
    width: 80%;
}

.album:hover{
    background-color: #282828;
    border-radius: 7px;
}

.album h3 {
    margin: 8px;
}