/*CSS DO MUSIC CARD---------------------------------------------*/
.container-track-card{
    color: #fff;
    padding: 12px;
    width: 98,5%;
    display: flex;
    flex-direction: row;
    background-color: #121212;
    margin:0px 10px 0px 10px;
    border-radius:7px;
    height:50px;

}
.container-track-card:hover{  
    background-color: #2A2A2A;
    border-radius: 7px;
}
.track-info h4{
    margin:0px;
    padding: 15px 0px 0px 0px;
    margin-bottom: -6px;
    margin-top: -2px;
    overflow: hidden;
    width:600px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: -10px;
   
}
.track-info{
    margin-left:30px;
    width: 100%;
}

.container-track-card:not(:hover) .track-play-img{
    display:none;
}
.container-track-card:hover .track-index{
    display:none;
}
.track-play-img{
    margin-top: 19px;
    width:40px;
    margin-left: 50px;
}
.track-index{
    margin-top: -3px;
    width:40px;
    margin-left: 50px;
}
.track-play-img img{
    width:13px;
    transform: rotate(90deg);
}
.track-player{
    width:88%;
    display: flex;
    flex-direction: row;
}
.track-image{
    height: 50px;
    width: 50px;
    margin:0px 0px 0px 30px;
}
.add-simbol{
    margin-right: 100px;
    height: 20px; 
}
.time-add{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
    

}
.time-add img{
    margin-top:17px;
    margin-left:35%;
    cursor:pointer;
    
}
.time-add h4{
    margin-top: 18px;
}

/* .time{
    display:flex;
    flex-direction: row;
    margin-top: 19px;
    margin-right: 20px;
}
.time img{
    margin-left: 20px;
    margin-top: -2px;
}
.image-music{
    height:50px;
    margin-top: 2px;
}
.music-index{
    margin-top: 19px;
    width:40px;
    margin-left:20px;
}
.play-music-div{
    margin-top: 19px;
    margin-left:20px;
    width:40px;
}
.music:not(:hover) .play-music-div{
    display:none;

}
.play-music-div img{
    width:13px;
    transform: rotate(90deg);
}

.info-music{
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.music {
    color: #fff;
    padding: 12px;
    width: 98zz,5%;
    display: flex;
    flex-direction: row;
    background-color: #121212;
    margin:0px 10px 0px 10px;
    border-radius:7px;
    height:55px;
    
}

.music:hover .music-index{
    display:none;
}

.music h4{
    margin:0px;
    padding: 0px;
}
.music > p {
    margin: 0;
    padding:0
}
.music:hover {
    background-color: #2A2A2A;
    border-radius: 7px;
}
.add-simbol{
    margin-right: 100px;
   
    height: 20px;
}
.add-simbol:hover{
    cursor:pointer;
} */
/*CSS DO ARTIST -> TITLE <- ----------------------------------*/
.artist-title-link{
    font-size: 0.8em;
}
.artist-title-link p{
    overflow: hidden;
    width:160px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
   
}
.artist-title-link p:hover{
    text-decoration:underline;
}
/*CSS DO ARTIST CARD-------------------------------------------*/


.container-artists {
    display: flex;
    flex-wrap: wrap;
}

.artist img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    align-self: center;
    margin: 10px 15px 0px 15px;
    box-shadow:0px 0px 12px 7px rgba(0,0,0,0.85)
   
}
.artist:hover{
    background-color: #282828;
    border-radius: 7px;
}
.artist{
    background-color: #181818;
    width:180px;
    height: 260px;
    border-radius: 7px;
    margin:10px;
}
.artist-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:150px; 
    margin-left: 15px;
}
/*CSS DO ALBUM CARD--------------------------------------------------*/
.album img{
  
    border-radius: 4px;
    width: 150px;
    height: 150px;
    align-self: center;
    margin: 15px 15px 0px 15px;
}
.album{
    background-color: #181818;
    width:180px;
    height: 260px;
    border-radius: 7px;
    margin:10px
}
.album:hover{
    background-color: #282828;
    border-radius: 7px; 
}
.album-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:150px; 
    margin-left: -19px;
    margin-top: -80px;
    margin-bottom: -10px;
}
.album p{
    overflow: hidden;
    width:160px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
   
    margin-left:16px;
}
